<h1>Часто задаваемые вопросы</h1>

<ul>
  <li>
    <strong>Как установить фреймворк?</strong><br>
    Просто клонируйте репозиторий и запустите <code>composer install</code>.
  </li>
  <li>
    <strong>Как добавить новую страницу?</strong><br>
    Создайте шаблон с именем <code>.twig</code> и перейдите по соответствующему URL.
  </li>
  <li>
    <strong>Нужно ли создавать контроллеры для каждой страницы?</strong><br>
    Нет, только если требуется логика или передача данных.
  </li>
</ul>
